
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<hr class="soften">
<div>
    <h1>Hakkımızda</h1>
</div>
<hr class="soften">
<div class="row">
    <div class="span8">
        <h4 class="subtitle">Biz Kimiz</h4>

        <p>
            Sera Restoran müşterilerine daima en iyi hizmeti ve sunumu gerçekleştirmek için 2014 yılından beri siz değerli müşterilerine devamlı yenilikçi zengin menüsü ile hizmet vermeye devam etmektedir.

            Özenli hizmet, hızlı teslimat, uygun fiyatlar ve tadına doyulmaz bir yemek için Sera Restoran bir tıkla kapınızda.
        </p>
    </div>
    <div class="span4">

        Online siparişimiz haftanın her günü her saat hizmetinizde! </br></br>
        Pazartesi - Cuma<br />
        09:00 - 24:00<br />
        Cumartesi<br />
        09:00 - 02:00<br />
        Pazar<br />
        10:00 - 24:00<br />
    </div>

</div>


<hr class="soften">
<div>
    <h2>Bir Uzman Gözünden</h2>
</div>
<hr class="soften">
<div class="row">
    <div class="span3">
        <img class="profilePicture img-circle" src="~/Content/Images/unlu_sef.jpg" style="width:80px;height: 80px;" />
        <hr class="vertical-space1">
        <h3>Miray Yıldırım</h3>
        <ul>
            <li class="aPosition">Head Chef(Elit Restoran İstanbul)</li>
        </ul>
    </div>

    <p>Annem ile birlikte Adana'nın restoranlarını keşfetmeyi seviyoruz. Hep gitmek isteyip, ertelediğimiz Sera Resoran'a nihayet gidebildik ve Adana'nın en iyi fast food restoranlarından biri olarak değerlendirdik. Güzel ambiansı, misafirlere gösterilen nezaket ve özen bir yana, lezzet yönünden de çok ayrıcalıklı bir yere sahip, öyle ki İstanbul'da yediğim birçok pizzadan daha lezzetlisini burada yedim. Salatada kullanılan malzemeler çok taze ve çeşnisi çok dengeliydi.Baklava nefisti. Şef Ahmet'in İstanbul'da ve gurme merkezi Roma'da uzun yıllar çalıştığını öğrenince, bu lezzetin sırrı belli oldu. Sera Restoran, her yerde yiyemiyeceğiniz ayrıcalıklı menüsüyle, restoranlar içinde özel bir yere sahip ve tüm övgüleri hakediyor.</p>

</div>


    <section class="our_client">
        <hr class="vertical-space2">
        <hr class="soften" />
        <h4 class="title cntr"><span class="text">Ekibimiz</span></h4>
        <hr class="soften" />
        <div class="row">
            <div class="span3">
                <a href="#">
                    <img alt="" src="~/Content/Images/ahmentserik.jpg" style="max-width: 168px; max-height: 234px; min-width: 168px; min-height: 234px;" class=" img-circle">
                </a>
                <p><strong>Ahmet Serik</strong></p>
                <p><small>Şef Aşçı</small></p>
                <p>Gençlik yıllarından beri bu sektörün içerisinde olan Ahmet Şef el lezzeti ile tüm müşterilerimizden tam puan alıyor. </p>
                <br class="clr">
            </div>
            <div class="span3">
                <a href="#">
                    <img alt="" src="~/Content/Images/nazliilke.jpg" style="max-width: 168px; max-height: 234px; min-width: 168px; min-height: 234px;" class=" img-circle">
                </a>
                <p><strong>Nazlı İlke</strong></p>
                <p><small>Baş Aşçı Yardımcısı</small></p>
                <p>15 yıl kendi yerini işlettikten sonra Sera Restorant ailesine katılan , yaptığı yemeklere sevgisini katan değerli şefimiz</p>
                <br class="clr">
            </div>
            <div class="span3">
                <a href="#">
                    <img alt="" src="~/Content/Images/melisturgut.jpg" style="max-width: 168px; max-height: 234px; min-width: 168px; min-height: 234px; " class=" img-circle">
                </a>
                <p><strong>Melis Turgut</strong></p>
                <p><small>Şef</small></p>
                <p>Gastronomide bir harika olan Melis Turgut hızı ve güler yüzüyle herkesi hayran bırakıyor. </p>
                <br class="clr">
            </div>
            <div class="span3">
                <a href="#">
                    <img alt="" src="~/Content/Images/emreteber.jpg" style="max-width: 168px; max-height: 234px; min-width: 168px; min-height: 234px; " class=" img-circle">
                </a>
                <p><strong>Emre Teber</strong></p>
                <p><small>Şef</small></p>
                <p>10 sene İngiltere'de birçok farklı restoranda şeflik yapan Emre Şef ekibimizin vazgeçilmez bir üyesi. </p>
                <br class="clr">
            </div>

        </div>
    </section>
